<% layout('../includes/layout.ejs') %>

<section>
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="signtxt">
                <h1>welcome to the Management App</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur minus suscipit esse iure optio
                    neque voluptatem voluptate, distinctio repudiandae? Sapiente!</p>
                <img class="img-fluid"
                    src="https://img.freepik.com/free-vector/software-engineer-concept-illustration_114360-3365.jpg?t=st=1724187137~exp=1724190737~hmac=22c3aedc52f3a1b3c970a58a81f20a152129b5eb1badaa49d61ac6b3a3866e74&w=900"
                    alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary">
                    <h2>Sign in</h2>
                </div>
                <div class="card-body py-4">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me to this device</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="flex">
                        <div>
                            <a href="" class="btn-link">Forgot password</a>
                        </div>
                        <div>
                            <p>don't have account <a href="" class="btn btn-warning">Sign Up</a></p>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>