<% layout('../includes/layout.ejs') %>

<section>
    <h1>Dashboard</h1>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card border-dark mb-3">
                <div class="card-header">User</div>
                <div class="card-body text-dark">
                    <h2 class="card-text text-uppercase"> 35+ </h2><i>
                        <p>users register</p>
                    </i>
                    <br>
                    <a href="/dashboard/signup" class="btn btn-dark ">Add new User </a>
                    <a href="" class="btn btn-dark ">View </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-primary mb-3">
                <div class="card-header">Job Details</div>
                <div class="card-body text-primary">
                    <h2 class="card-text text-uppercase"> 200+ </h2><i>
                        <p>Job Completed</p>
                    </i>
                    <br>
                    <a href="" class="btn btn-primary ">View </a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-info mb-3">
                <div class="card-header">Employees</div>
                <div class="card-body text-info">
                    <h2 class="card-text text-uppercase"> 50+ </h2><i>
                        <p>work force</p>
                    </i>
                    <br>
                    <a href="" class="btn btn-info ">View </a>
                </div>
            </div>
        </div>
    </div>
</section>