<% layout('../includes/layout.ejs') %>

<div class="container text-center">
    <section>
        <img src="../img/icons/404.svg" width="450px" class="img-fluid" alt="">
        <h1>Oops! you landed on the missing planet</h1>
    </section>


</div>