<% layout('../includes/layout.ejs') %>

<div class="container text-center">
    <section>
        <img src="../img/icons/500.svg" width="500px" class="img-fluid" alt="">
        <h1>Oh ho! <i class="text-danger"> <%=message%></i>
        </h1>
    </section>


</div>