body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    line-height: 1.5;
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: 60px 0;

}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 0.5px;
}

.middle>td {
    vertical-align: middle;
}