<% layout('../includes/layout.ejs') %>

<section>
    <h1 class="text-capitalize alert alert-success">Earnings Report</h1>
    <hr>
    <table class="table table-success table-bordered table-striped table-hover ">
        <thead>
            <tr>
                <th>#</th>
                <th>Invoice ID</th>
                <th>Job Number</th>
                <th>Status</th>
                <th>Money</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td><span class="badge badge-success p-2">#4562</span></td>
                <td><span>48552</span></td>
                <td><strong class="badge badge-success p-2">Paid</strong></td>
                <td><strong>$800.00</strong></td>
                <td><a href="" class="btn btn-sm btn-light">View</a></td>
            </tr>
            <tr>
                <td>1</td>
                <td><span class="badge badge-success p-2">#4562</span></td>
                <td><span>48552</span></td>
                <td><strong class="badge badge-danger p-2">Pending</strong></td>
                <td><strong>$800.00</strong></td>

                <td><a href="" class="btn btn-sm btn-light">View</a></td>
            </tr>
        </tbody>
    </table>
</section>